{% extends 'base_layout.html' %}
{% load i18n %}
{% load bulma_tags %}

{% block header_title %}
{% endblock header_title %}

{% block content %}
    <div class="columns">
        <div class="column is-one-fifth">
            <nav class="panel">
                <div class="panel-heading">
                    {% trans 'Sites' %}
                    <a id="add-site-button" href="{% url 'create_site' %}">
                        <span class="icon has-text-success">
                            <i class="fas fa-plus-square" title="{% trans 'Add a new site' %}"></i>
                        </span>
                    </a>
                </div>
                {% for site in sites %}
                    <a class="panel-block is-active" href="{% url 'view_site' site.domain_name %}">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        {{  site.domain_name }}
                    </a>
                {% endfor %}
            </nav>
        </div>
        <div class="column">
            <div id="workspace">
                {% block workspace %}{% endblock workspace %}
            </div>
        </div>
    </div>

{% endblock content %}


